* {
    margin: 0px;
}
button {
    cursor: pointer;
    transition: 0.5s;
}
.hero{
    height: 750px;
    background-size: cover;
    background-image: url(./images/background.jng.png);
}   
.header {
    padding: 25px 20px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
}

.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.header__logo-text {
    text-decoration: none;
    color: #ffffff;
    
    font-size: 23px;
}
.header__nav {
    display: flex;
    gap: 100px;
}
.header__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.header__arrow {
    margin-left: 8px;
    margin-bottom: 4px;
    width: 7px;
    height: 4px;
}
.header__button {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 12px;
    color: #ffffff;
    
}
.header__button:hover {
    background-color: rgb(175, 175, 150);
    color: #654f4f;
    transition: 0.5s;
}
.header__button img {
    top: 3px;
    position: relative;
    margin-right: 8px;
}
.header__menu {
    display: none;
}

@media (max-width: 900px) {
    .header__menu {
        display: block;
    }
    .header__nav {
        display: none;
    }
    .header__button {
        display: none;
    }
}
@media (max-width: 576px){
    .hero{
        height: 416px;
        background-position: center bottom;
        background-size: cover;
    }
}

