* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0;
}
button {
    cursor: pointer;
    transition: 0.5s;
}

.header {
    padding: 25px 40px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 100%;
}
.header__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.header__logo-text {
    text-decoration: none;
    color: #ffffff;
    font-size: 23px;
}
.header__nav {
    display: flex;
    gap: 170px;
}
.header__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.header__arrow {
    margin-left: 8px;
    margin-bottom: 4px;
    width: 7px;
    height: 4px;
}
.header__button {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
}
.header__button:hover {
    background-color: rgb(175, 175, 150);
    color: #654f4f;
    transition: 0.5s;
}
.header__button img {
    top: 3px;
    position: relative;
    margin-right: 8px;
}
.header__menu {
    display: none;
}
.insurance {
    height: 1080px;
    background-size: cover;
    background-image: url(./images/background.jng.png);
}
.insurance__content {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
}
.insurance__content h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
}
.insurance__content p {
    font-size: 28px;
    color: #ffffff;
    margin-top: 17px;
}
.insurance__form {
    width: 100%;
    max-width: 1240px;
    height: 82px;
    border-radius: 5px;
    margin-top: 43px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.insurance__form .insurance__input {
    width: 32.26%;
    min-width: 135px;
    height: 60%;
    padding-left: 40px;
    color: #11002d;
    border: none;
    border-right: 2.5px solid #5200d9;
}

.insurance__date input {
    border: none;
    outline: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type='date']::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}
.insurance__date img {
    width: 24px;
    height: 26px;
}
.insurance__date {
    width: 20.97%;
    min-width: 135px;
    height: 60%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    border-right: 2.5px solid #5200d9;
}

.insurance__people {
    width: 25.8%;
    min-width: 135px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.insurance__people img {
    width: 13px;
    height: 6px;
}

.insurance__button {
    max-width: 232px;
    min-width: 190px;
    width: 100%;
    height: 64px;
    margin-top: 40px;
    background-color: #5200d9;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}

@media (max-width: 992px) {
    .insurance {
        background-position: center bottom;
        background-size: cover;
    }
    .header__menu {
        display: block;
    }
    .header__nav {
        display: none;
    }
    .header__button {
        display: none;
    }
    .insurance__form {
        max-width: 912px;
        height: 82px;
    }
    .insurance__form .insurance__input {
        width: 25%;
        max-width: 272px;
        min-width: 135px;
    }
    .insurance__content h2 {
        font-size: 32px;
    }
    .insurance__content p {
        font-size: 24px;
    }
    .insurance__date {
        width: 25%;
        max-width: 272px;
        min-width: 135px;
    }
    .insurance__people {
        width: 25%;
        max-width: 272px;
        min-width: 135px;
    }
}
@media (max-width: 768px) {
    .insurance__form {
        max-width: 728px;
        height: 64px;
    }
    .insurance__content {
        padding: 20px;
    }
    .insurance__form .insurance__input {
        padding-left: 24px;
    }
    .insurance__input,
    .insurance__date,
    .insurance__people {
        font-size: 16px;
    }
    .insurance__date {
        padding-left: 12px;
    }
    .insurance__date svg,
    .insurance__people svg {
        width: 15px;
        height: 16px;
    }
    .insurance__date input {
        height: 17px;
        max-width: 88px;
        width: 100%;
    }
    .insurance__content h2 {
        font-size: 24px;
        font-weight: 800;
    }
    .insurance__content p {
        font-size: 16px;
        font-weight: 400;
    }
}
@media (max-width: 576px) {
    .insurance__form {
        max-width: 536px;
        height: 57px;
    }
    .insurance__content {
        padding: 20px;
    }
    .insurance__form .insurance__input {
        width: 100%;
        max-width: 134px;
        min-width: 0;
        padding-left: 12px;
    }
    .insurance__date {
        width: 100%;
        max-width: 135px;
        min-width: 0;
        font-size: 14px;
        padding-left: 14px;
    }
    .insurance__date input {
        height: 17px;
        max-width: 77px;
        width: 100%;
        min-width: 0;
    }
    .insurance__people {
        font-size: 14px;
        width: 100%;
        max-width: 272px;
        min-width: 0;
        height: 28px;
        padding: 8px;
    }
    .insurance__content h2 {
        font-size: 24px;
    }
    .insurance__content p {
        font-size: 16px;
    }
}
@media (max-width: 388px) {
    .insurance__form {
        max-width: 320px;
        height: 148px;

        flex-wrap: wrap;
        padding: 16px 24px;
    }
    .insurance__input {
        padding: 0 12px;
    }
    .insurance__content {
        padding: 24px;
    }
    .insurance__content h2 {
        font-size: 16px;
    }
    .insurance__content p {
        font-size: 14px;
    }
    .insurance__form .insurance__input {
        border: none;
        max-width: 272px;
        width: 100%;
        height: 28px;
        padding: 0 12px;
        background-color: #f2eaff;
        min-width: 0;
    }
    .insurance__date {
        width: 100%;

        max-width: 128px;
        height: 28px;
        border: none;
        background-color: #f2eaff;
    }
    .insurance__date input {
        background-color: #f2eaff;
        max-width: 71px;
        width: 100%;
    }

    .insurance__date:first-of-type {
        border-right: 2.5px solid #5200d9;
    }
    .insurance__people {
        width: 100%;
        max-width: 272px;
        min-width: 0;
        height: 28px;
        justify-content: space-between;
        padding: 8px;
        background-color: #f2eaff;
    }
}
